<%inherit file="../base.html" />
<%def name="content()">
<%
from django.shortcuts import reverse
from app.model.video import FromType
from app.utils.permission import client_auth
%>
<img src="${video.image}" class="video-image" />
<div class="data">
    <p style="margin-left: 5px;"><span class="span">Name:</span><br />${video.name}</p>
    <p>
        <span style="margin-left: 5px;" class="span">Actors:</span>
        <ul style="margin-left: 5px;">
        % for man in video.video_star.all():
          <li>${man.name}:${man.ident}</li>
        % endfor
        </ul>
    </p>
    <p>
        <span style="margin-left: 5px;" class="span">Summary:</span><br />
        <span style="margin-left: 5px;" class="info">${video.info}</span>
    </p>
    <p>
        <span style="margin-left: 5px;" class="span">Choose episode:</span><br />
        % if FromType(video.from_to) == FromType.custom and not client_auth(request):
        <a href="${reverse('client_auth')}">Login</a>
        % else:
        <ul class="number-ul">
        % for data in video.video_sub.all():
          <li style="margin-left: 5px;"><a href="${data.url}">${data.number}</a></li>
        % endfor
        </ul>
        % endif
    </p>
    <p>
        <span style="margin-left: 5px;" class="span">Comment Area</span><br />
        <div class="comment-area">
          % if user:
          <textarea id="comment-content"></textarea>${csrf_token}
          <button id="comment-submit" data-url="${reverse('client_add_comment')}" data-user-id="${user.id}" data-video-id="${video.id}">Submit</button>
          % else:
          <a href="${reverse('client_auth')}">Comment after login</a>
          % endif
        </div>
    </p>
    <div class="comment-show-area">
        <span style="margin-left: 5px;" class="span">Comment display</span>
        <div id="ajax-comment-show"></div>
        <ul class="comment-show">
            % for comment in comments:
               % if comment.user.status == True:
               <li style="margin-left: 25px;">
                <span>${comment.content}</span>
                <span>-- ${comment.user.username}</span>

            </li>
               %endif
            % endfor

        </ul>
    </div>
</div>
</%def>
<%def name="css()">
<link href="/static/client/css/video_sub1.css" rel="stylesheet" />
</%def>
<%def name="js()">
<script src="/static/client/js/video_sub.js"></script>
</%def>
