<%inherit file="../base.html" />
<%! from django.shortcuts import reverse %>
<%def name="content()">
<%
from app.model.video import VideoType, FromType, NationalityType
%>
<h1>External Video</h1>
<button class="btn btn-info open-btn" id="open-add-video-btn">Created</button><span>${error}</span>
<form id="video-edit-area" class="form-horizontal edit-area add-video-area" action="" method="POST">${csrf_token}
  <div class="form-group">
    <div class="col-sm-10">
      <input type="text" name="name" class="form-control" placeholder="Video Name">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <input type="text" name="image" class="form-control" placeholder="Poster">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <label>Video Type</label>
      <select class="form-control video-select" name="video_type">
          %for video_type in VideoType:
          <option value="${video_type.value}">${video_type.label}</option>
          %endfor
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <label>Nationality</label>
      <select class="form-control video-select" name="nationality">
          %for nationality in NationalityType:
          <option value="${nationality.value}">${nationality.label}</option>
          %endfor
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <label>From</label>
      <select class="form-control video-select" name="from_to">
          %for from_to in FromType:
          <option value="${from_to.value}">${from_to.label}</option>
          %endfor
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <textarea name="info" class="form-control" placeholder="简介"></textarea>
    </div>
  </div>
  <button type="submit" class="btn btn-info">Add</button>
</form>
<h3>External Video</h3>
<table class="table">
    <thead>
      <tr>
          <th>Name</th>
          <th>Poster</th>
          <th>Video Type</th>
          <th>From</th>
          <th>Nationality</th>
          <th>Description</th>
          <th>Status</th>
          <th>Created Time</th>
          <th>Edited Time</th>
          <th>Operation</th>
      </tr>
    </thead>
    <tbody>
        % for video in ex_videos:
        <tr>
            <td>${video.name}</td>
            <td><img class="video-images" src="${video.image}" /></td>
            <td>${VideoType(video.video_type).label}</td>
            <td>${FromType(video.from_to).label}</td>
            <td>${NationalityType(video.nationality).label}</td>
            <td><p class="info">${video.info}</p></td>
            <td>${video.status}</td>
            <td>${video.created_time}</td>
            <td>${video.updated_time}</td>
            <td>
                <a href="${reverse('video_update', kwargs={'video_id': video.id})}">Edit</a>
                <a href="${reverse('video_sub', kwargs={'video_id': video.id})}">Ancillary Information</a>
                <a href="${reverse('video_update_static', kwargs={'video_id': video.id})}">Modify Status</a>
            </td>
        </tr>
        % endfor
    </tbody>
</table>
<h3 id="custom-h3">Custom Video</h3>
<table class="table">
    <thead>
      <tr>
          <th>Name</th>
          <th>Poster</th>
          <th>Video Type</th>
          <th>From</th>
          <th>Nationality</th>
          <th>Description</th>
          <th>Status</th>
          <th>Created Time</th>
          <th>Edited Time</th>
          <th>Operation</th>
      </tr>
    </thead>
    <tbody>
        % for video in cus_videos:
        <tr>
            <td>${video.name}</td>
            <td><img class="video-images" src="${video.image}" /></td>
            <td>${VideoType(video.video_type).label}</td>
            <td>${FromType(video.from_to).label}</td>
            <td>${NationalityType(video.nationality).label}</td>
            <td><p class="info">${video.info}</p></td>
            <td>${video.status}</td>
            <td>${video.created_time}</td>
            <td>${video.updated_time}</td>
            <td>
                <a href="${reverse('video_update', kwargs={'video_id': video.id})}">Edit</a>
                <a href="${reverse('video_sub', kwargs={'video_id': video.id})}">Ancillary Informatio</a>
                <a href="${reverse('video_update_static', kwargs={'video_id': video.id})}">Modify Status</a>
            </td>
        </tr>
        % endfor
    </tbody>
</table>
</%def>
<%def name="css()">
<link href="/static/dashboard/css/externa_video.css" rel="stylesheet" />
</%def>
<%def name="js()">
<script src="/static/dashboard/js/video/externa_video.js"></script>
</%def>