<%inherit file="../base.html" />
<%def name="content()">
<%
from django.shortcuts import reverse
%>
% if user:
<div class="user-area">
    <p>${user.username}</p>
    <a href="${reverse('client_logout')}">Logout</a>
</div>
% else:
<div class="form">
    <input id="username" type="text" placeholder="User Name" />
    <input id="password" type="password" placeholder="Password" />
    <button id="login-submit" data-url="${reverse('client_auth')}">Login</button>
    <button id="regist-submit" data-url="${reverse('client_regist')}">Regist</button>
    ${csrf_token}
</div>
% endif

</%def>
<%def name="js()">
<script src="/static/client/js/auth.js"></script>
</%def>
<%def name="css()">
<link href="/static/client/css/auth.css" rel="stylesheet" />
</%def>
